name: Deployment Pipeline

on:
  push:
    branches: [ "development", "stage", "test" ]

env:
  PROJECT_TYPE: 'laravel'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Sonar Analysis and Quality Gate
        id: sonar_check
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: PROJECT_TYPE
          script: |
            set -e
            BRANCH=${{ github.ref_name }}
            cd /var/www/html/$BRANCH/$PROJECT_TYPE-project
            git pull origin $BRANCH
            
            export SONAR_NODE_ARGS='--max-old-space-size=512'
            /home/ubuntu/sonar-scanner/bin/sonar-scanner \
              -Dsonar.projectKey=${PROJECT_TYPE}-project \
              -Dsonar.sources=app \
              -Dsonar.inclusions=**/*.php \
              -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
              -Dsonar.login=${{ secrets.SONAR_TOKEN }}

            sleep 10
            for i in {1..24}; do
              STATUS=$(curl -s -u ${{ secrets.SONAR_TOKEN }}: "${{ secrets.SONAR_HOST_URL }}/api/qualitygates/project_status?projectKey=${PROJECT_TYPE}-project" | jq -r '.projectStatus.status')
              if [ "$STATUS" = "OK" ] || [ "$STATUS" = "ERROR" ]; then break; fi
              sleep 5
            done
            [ "$STATUS" = "OK" ] || exit 1

      - name: Build and Deploy
        id: deploy_step
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: PROJECT_TYPE
          script: |
            set -e
            BRANCH=${{ github.ref_name }}
            cd /var/www/html/$BRANCH/$PROJECT_TYPE-project
            case "$PROJECT_TYPE" in
                laravel) sudo php artisan optimize ;;
            esac

      - name: Notify
        if: always()
        run: |
          STATUS="${{ job.status == 'success' && 'SUCCESS' || 'FAILED' }}"

          if [[ "${{ job.status }}" == "success" ]]; then
            MSG="Deployment successful! :white_check_mark:"
          else
           
            [[ "${{ steps.sonar_check.outcome }}" == "failure" ]] && ERR="Sonar Quality Gate" || ERR="Build/Deploy"
            MSG="Failed at: $ERR step :x:"
          fi

          curl -X POST -H 'Content-type: application/json' \
          --data "{\"text\":\"*[$STATUS]* \n*Project:* ${{ env.PROJECT_TYPE }} \n*Branch:* ${{ github.ref_name }} \n*Status:* $MSG\"}" \
          "${{ secrets.SLACK_WEBHOOK }}"
